# Added automatically by `eldev init'.
/.eldev
/Eldev-local
/dev/.emacs.d
/dev/.emacs~
/dev/eln-cache/
/dev/.cache
/dev/.config/
/doc/org-gtd.info
/dev/gtd
/gtd-test
dist/
org-gtd-autoloads.el
.idea
*.elc